<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{{ title }}</title>
  <meta name="description" content="Add user authentication."/>
  <meta name="HandheldFriendly" content="True"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <meta name="theme-color" content="#5eb9d7"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.jpeg') }}" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,500" rel="stylesheet"/>
</head>

{% block title %}
<link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

<body class="{{ template }}">
<div class='conteiner'>
    {% block content %}
    <div class="form-wrapper">

        <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.jpeg') }}" alt="logo"/>
        </div>

        {% for message in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endfor %}

        <h1>Log In</h1>

        <form method="POST" action="{{ url_for('auth_bp.login') }}">
        {{ form.csrf_token }}

        <fieldset class="username">
            {{ form.username.label }}
            {{ form.username }}
            {% if form.username.errors %}
            <ul class="errors">
                {% for error in form.username.errors %}
                <li>{{ error }}</li>{% endfor %}
            </ul>
            {% endif %}
        </fieldset>

        <fieldset class="password">
            {{ form.password.label }}
            {{ form.password }}
            {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                <li>{{ error }}</li>{% endfor %}
            </ul>
            {% endif %}
        </fieldset>

        <div class="submit-button">
            {{ form.submit }}
        </div>

        </form>
    </div>
    {% endblock %}
</div>
</body>

</html>